<h2 mat-dialog-title>Location de "{{data.name}}"</h2>
<mat-dialog-content class="mat-typography">
  <h3>Êtes vous sûr de vouloir louer/rendre cette propriété  ?</h3>
 
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirmer</button>
</mat-dialog-actions>
