.main-div{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .mat-form-field{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

::ng-deep .mat-form-field-wrapper{
  width:60% !important
}

#sub{
  left: 100px;
  width: 60% !important;
  margin-bottom: 15px;
}
.footer{
  display: flex;
  justify-content: center;
}