<!-- Default form login -->
<div class="main-div">
    

<mat-card>
    <mat-card-header>
      <mat-card-title> Connexion </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form #f="ngForm" (ngSubmit)="submit(f)">

        <mat-form-field appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput type="text" name="login" required ngModel />
        </mat-form-field>

        
        <mat-form-field appearance="fill">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" name="password" required ngModel>
        </mat-form-field>
      
        <button mat-raised-button color="primary" type="submit" id="sub">Se connecter</button>
      </form>
      <!-- Register -->
  

      <mat-card-footer class="footer" align="center">
        Pas encore inscrit ?<a routerLink="/register" style="margin-left: 2px;"> S'inscrire</a>
      </mat-card-footer>

      
    </mat-card-content>
  </mat-card>
<!-- Default form login -->
</div>  