<div class="form">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Editer la propriété </mat-card-title>
      </mat-card-header>


      <mat-card-content>
        <form [formGroup]="editForm" (ngSubmit)="submit()">
          <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input matInput type="text" name="name" formControlName="name" value={{data.name}} placeholder={{data.name}}/> 
          </mat-form-field>
    
    
          <mat-form-field appearance="fill">
            <mat-label>Prix de location</mat-label>
            <input matInput type="number" name="price" formControlName="price"/>
          </mat-form-field>

          <mat-radio-group
          aria-label="Disponible"
          formControlName="isAvailable">
          <mat-label id="label">Disponible : </mat-label>
          <mat-radio-button value="true" name="true" [checked]="data.isAvailable==true" 
            >Oui</mat-radio-button
          >
          <mat-radio-button value="false" name="false" [checked]="data.isAvailable==false"
            >Non</mat-radio-button
          >
        </mat-radio-group>

        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Annuler</button>
            <button (click)=submit() mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirmer</button>
          </mat-dialog-actions>

        </form>
