.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logout {
  position: fixed;
  right: 0px;
  margin-right: 50px;
  margin-top: 30px;
}

.mat-form-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-radio-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

#label {
  margin-right: 5px;
  margin-top: -9px;
}

::ng-deep .mat-radio-label-content {
  margin-right: 5px;
}

::ng-deep .mat-form-field-wrapper {
  width: 60% !important;
}

#sub {
  width: 50% !important;
  margin-bottom: 15px;
}

.mat-panel-description {
  display: flex;
  justify-content: end;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mat-card {
  flex: 0 0 40%;
  padding: 15px;
  text-align: center;
  margin: 20px 10px 10px 10px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.title {
  color: indigo;
}