<mat-toolbar>
  <mat-card-header>
    <mat-card-title style="margin-top: 30px">
      Bienvenue {{ login }}
    </mat-card-title>

    <button
      mat-raised-button
      color="primary"
      id="logout"
      (click)="this.router.navigate(['/login'])"
      *ngIf="isAuthenticated"
    >
      Déconnexion
    </button>
  </mat-card-header>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Propriétés disponibles">
    <div class="flexbox" hideToggle *ngFor="let item of availableProperties" >
      <mat-card *ngIf="item.available && item.owner.username != login" >
          <mat-card-header>
            <span>
              <mat-card-title class="title"> {{ item.name }} </mat-card-title>
            </span>
          </mat-card-header>

          <mat-card-content>
            <p>Adresse : {{ item.address }}</p>
            <p>Loyer : {{ item.rentPrice }} €</p>
            <p *ngIf="item.floor != null">Étage : {{ item.floor }}</p>
            <p *ngIf="item.garden != null">Jardin : {{ item.garden }}</p>
            <p *ngIf="item.garage != null">Garage : {{ item.garage }}</p>
            <p *ngIf="item.parking != null">Parking : {{ item.parking }}</p>
            <p *ngIf="item.balcony != null">Balcon : {{ item.balcony }}</p>
            <p>Propriétaire : {{ item.owner.firstname }} {{ item.owner.lastname }}</p>
          </mat-card-content>

          <mat-card-actions>
            <button
              mat-raised-button
              color="primary"
              *ngIf="item.available"
              aria-hidden="false"
              aria-label="rent"
              class="rent"
              (click)="alertRent(item.name, item.idProperty)"
              [disabled]="propertyRented != null"
            >
              Louer
            </button>
          </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>


  <mat-tab label="Ma location">
    <div class="flexbox" *ngIf="propertyRented">
      <mat-card >
        <mat-card-header>
          <span>
            <mat-card-title class="title"> {{ propertyRented.name }} </mat-card-title>
          </span>
        </mat-card-header>

        <mat-card-content>
          <p>Adresse : {{ propertyRented.address }}</p>
          <p>Loyer : {{ propertyRented.rentPrice }} €</p>
          <p>Propriétaire : {{ propertyRented.owner.firstname }}  {{ propertyRented.owner.lastname }}  </p>
          <p *ngIf="propertyRented.floor != null">Étage : {{ propertyRented.floor }}</p>
          <p *ngIf="propertyRented.garden != null">Jardin : {{ propertyRented.garden }}</p>
          <p *ngIf="propertyRented.garage != null">Garage : {{ propertyRented.garage }}</p>
          <p *ngIf="propertyRented.parking != null">Parking : {{ propertyRented.parking }}</p>
          <p *ngIf="propertyRented.balcony != null">Balcon : {{ propertyRented.balcony }}</p>
        </mat-card-content>

        <mat-card-actions>
          <button
          mat-raised-button
          color="primary"
          aria-hidden="false"
          aria-label="rent"
          class="rent"
          (click)="alertRentBack(propertyRented.name, propertyRented.idProperty)"
        >
          Rendre
        </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>


  <mat-tab label="Mes propriétés">
    <div class="flexbox">
      <mat-card hideToggle *ngFor="let item of myProperties">
        <mat-card-header>
          <span>
            <mat-card-title class="title"> {{ item.name }} </mat-card-title>
          </span>
          <span class="fill-remaining-space"></span>
          <span
            ><button
              mat-mini-fab
              color="primary"
              aria-label="edit"
              (click)="
                editProperty(
                  item.idProperty,
                  item.name,
                  item.rentPrice,
                  item.available
                )
              "
            >
              <mat-icon>create</mat-icon>
            </button></span
          >
        </mat-card-header>

        <mat-card-content>
          <p>Adresse : {{ item.address }}</p>
          <p>Loyer : {{ item.rentPrice }} €</p>
          <p *ngIf="item.floor != null">Étage : {{ item.floor }}</p>
          <p *ngIf="item.garden != null">Jardin : {{ item.garden }}</p>
          <p *ngIf="item.garage != null">Garage : {{ item.garage }}</p>
          <p *ngIf="item.parking != null">Parking : {{ item.parking }}</p>
          <p *ngIf="item.balcony != null">Balcon : {{ item.balcony }}</p>
          <p>Disponible pour location : {{ item.available }}</p>
          <p *ngIf="item.tenant != null">Locataire : {{ item.tenant.firstname }} {{ item.tenant.lastname }}</p>

        </mat-card-content>

        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            aria-hidden="false"
            aria-label="delete"
            class="delete"
            (click)="alertDelete(item.name, item.idProperty)"
          >
            Supprimer
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Ajouter propriété">
    <div class="form">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Ajout de propriété </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <form [formGroup]="propertyForm" (ngSubmit)="submit()">
            <mat-form-field appearance="fill">
              <mat-label>Nom</mat-label>
              <input matInput 
              type="text" 
              name="name" 
              formControlName="name"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
              />
              <div *ngIf="submitted && f.name.errors" class="text-danger">
                <div *ngIf="f.name.errors.required">*Nom requis</div>
              </div>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Adresse</mat-label>
              <input matInput 
              type="text" 
              name="address" 
              formControlName="address"
              [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
              />
              <div *ngIf="submitted && f.address.errors" class="text-danger">
                <div *ngIf="f.address.errors.required">*Adresse requise</div>
              </div>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Prix de location</mat-label>
              <input matInput 
              type="number" 
              name="rentPrice" 
              formControlName="rentPrice"
              [ngClass]="{ 'is-invalid': submitted && f.rentPrice.errors }"
              />
              <div *ngIf="submitted && f.rentPrice.errors" class="text-danger">
                <div *ngIf="f.rentPrice.errors.required">*Prix requis</div>
                <div *ngIf="f.rentPrice.errors.min">*Doit être supérieur a 100</div>

              </div>
            </mat-form-field>

            <mat-radio-group
              aria-label="Type de bien"
              [(ngModel)]="type"
              [ngModelOptions]="{ standalone: true }"
            >
              <mat-label id="label">Type de bien :</mat-label>
              <mat-radio-button value="house" name="house"
                >Maison</mat-radio-button
              >
              <mat-radio-button value="appartment" name="appartment"
                >Appartement</mat-radio-button
              >
            </mat-radio-group>

            <div *ngIf="type == 'house'">
              <mat-form-field appearance="fill">
                <mat-label id="label">Etage(s) :</mat-label>
                <input matInput 
                type="number" 
                name="floor" 
                formControlName="floor"
                [ngClass]="{ 'is-invalid': submitted && f.floor.errors }"
                />
                <div *ngIf="submitted && f.floor.errors" class="text-danger">
                  <div *ngIf="f.floor.errors.required">*Etage requis</div>
                  <div *ngIf="f.floor.errors.min">*Doit être supérieur a 0</div>
                  <div *ngIf="f.floor.errors.max">*Doit être inférieur a 10</div>
                </div>
              </mat-form-field>

              <mat-radio-group
                aria-label="Jardin"
                name="garden"
                formControlName="garden"
              >
                <mat-label id="label">Jardin :</mat-label>
                <mat-radio-button value="true">Oui</mat-radio-button>
                <mat-radio-button value="false">Non</mat-radio-button>
              </mat-radio-group>

              <mat-radio-group
                aria-label="Garage"
                name="garage"
                formControlName="garage"
              >
                <mat-label id="label">Garage :</mat-label>
                <mat-radio-button value="true">Oui</mat-radio-button>
                <mat-radio-button value="false">Non</mat-radio-button>
              </mat-radio-group>
            </div>

            <div *ngIf="type == 'appartment'">
              <mat-radio-group
                aria-label="Balcon"
                name="balcony"
                formControlName="balcony"
              >
                <mat-label id="label">Balcon :</mat-label>
                <mat-radio-button value="true">Oui</mat-radio-button>
                <mat-radio-button value="false">Non</mat-radio-button>
              </mat-radio-group>

              <mat-radio-group
                aria-label="Parking"
                name="parking"
                formControlName="parking"
              >
                <mat-label id="label">Parking :</mat-label>
                <mat-radio-button value="true">Oui</mat-radio-button>
                <mat-radio-button value="false">Non</mat-radio-button>
              </mat-radio-group>
            </div>

            <button mat-raised-button color="primary" type="submit" id="sub">
              Ajouter
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
