<!-- Default form login -->
<div class="main-div">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Inscription </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <mat-form-field appearance="fill">
          <mat-label>Login</mat-label>
          <input
            matInput
            type="text"
            name="login"
            formControlName="login"
            [ngClass]="{ 'is-invalid': submitted && f.login.errors }"
          />
          <div *ngIf="submitted && f.login.errors" class="text-danger">
            <div *ngIf="f.login.errors.required">*Login requis</div>
          </div>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Nom</mat-label>
          <input
            matInput
            type="text"
            name="nom"
            formControlName="nom"
            [ngClass]="{ 'is-invalid': submitted && f.nom.errors }"
          />
          <div *ngIf="submitted && f.nom.errors" class="text-danger">
            <div *ngIf="f.nom.errors.required">*Nom requis</div>
          </div>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Prénom</mat-label>
          <input
            matInput
            type="text"
            name="prenom"
            formControlName="prenom"
            [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }"
          />
          <div *ngIf="submitted && f.prenom.errors" class="text-danger">
            <div *ngIf="f.prenom.errors.required">*Prenom requis</div>
          </div>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input
            matInput
            type="password"
            name="password"
            formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <div *ngIf="submitted && f.password.errors" class="text-danger">
            <div *ngIf="f.password.errors.required">*Mot de passe requis</div>
          </div>
        </mat-form-field>

        <button mat-raised-button color="primary" id="sub">S'inscrire</button>
      </form>

      <mat-card-footer class="footer" align="center">
        Déjà inscrit ?
        <a routerLink="/login" style="margin-left: 2px"> Se connecter</a>
      </mat-card-footer>
    </mat-card-content>
  </mat-card>
  <!-- Default form login -->
</div>
